body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(120deg, black, darkblue);
  min-height: 100vh;
}
@keyframes bounce {
  0% { transform: translateY(0); }
  100% { transform: translateY(-15px); }
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #0f2027;
}